<!--
 * @Description: 
 * @Version: 
 * @Author: linjinzhi
 * @Date: 2020-08-05 17:33:32
 * @LastEditors: linjinzhi
 * @LastEditTime: 2020-08-06 11:07:20
-->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="max-age=7200" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <title>dc live2d</title>
  </head>
  <body>
    <div id='root'></div>
    <script src="/lib/live2d.min.js"></script>
    <script src="/lib/Live2DFramework.js"></script>
    <script src="/lib/PlatformManager.js"></script>
    <script src="/lib/ModelSettingJson.js"></script>
  </body>
</html>