.layout{
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color:#000000;
  background-image: url(/images/bg196_f.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
